<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight>

                <mat-tab label="Portals">
                        <div class="mat-elevation-z8">
                                <mat-table [dataSource]="portalList" matSort>
                            
                                    <!-- ID Column -->
                                    <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.portalId}} </mat-cell>
                                    </ng-container>
                            
                                    <!-- code Column -->
                                    <ng-container matColumnDef="portalcode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> PortalCode </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.portalCode}} </mat-cell>
                                    </ng-container>
                            
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Portal Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.portalName}} </mat-cell>
                                    </ng-container>

                                    <!-- Delete Column -->
                                    <ng-container matColumnDef="delete">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <button  mat-raised-button (click)="deletePortal(row.portalCode)" color="warn">Delete</button> </mat-cell>
                                    </ng-container>
                            
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                    <!-- / WIDGET GROUP -->

                </mat-tab>

                <mat-tab label="Add Portals">
                        <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="onSubmit()" [formGroup]="form">

                            <div class="pb-24 font-size-18 font-weight-300">
                                Add Portals
                            </div>
            
                            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Portal Code</mat-label>
                                    <input matInput formControlName="portalCode" required>
                                    <mat-error>Portal Code is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Portal Name</mat-label>
                                    <input matInput formControlName="portalName" required>
                                    <mat-error>Portal Name is required!</mat-error>
                                </mat-form-field>
        
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                                    <button mat-raised-button [disabled]="disableSaveButton" color="primary">Save</button>
                            </div>
                            
                            <div class="row"  *ngIf="showSuccessMsg">
                                <div class="col-xs-12">
                                  <p class="alert alert-success">
                                      <strong>Portal saved Successfully!</strong>
                                  </p>
                                </div>
                            </div>            
                            <div class="row"  *ngIf="showErrorMsg">
                                <div class="col-xs-12">
                                  <p class="alert alert-success">
                                      <strong>Portal not saved Successfully!</strong>
                                  </p>
                                </div>
                            </div>     
                        </form>

                </mat-tab>
            </mat-tab-group>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->


</div>
